.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/alignments
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/dada2/preprocess_fq
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/dada2/preprocess_meta.txt
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/dada2/prim_fq
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/dada2/prim_meta.txt
docs/data/Pvivax_sequencing_data/Pviv_ColPerVen/dada2/run_dada2/filtered
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/alignments
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/dada2/preprocess_fq
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/dada2/preprocess_meta.txt
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/dada2/prim_fq
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/dada2/prim_meta.txt
docs/data/Pvivax_sequencing_data/Pvivax_Honduras/dada2/run_dada2/filtered
docs/data/Pvivax_sequencing_data/alignments
docs/data/Pvivax_sequencing_data/dada2/preprocess_fq
docs/data/Pvivax_sequencing_data/dada2/preprocess_meta.txt
docs/data/Pvivax_sequencing_data/dada2/prim_fq
docs/data/Pvivax_sequencing_data/dada2/prim_meta.txt
docs/data/Pvivax_sequencing_data/dada2/run_dada2/filtered
docs/data/All_Gates_project
docs/data/Guyana*
MHap_Analysis_Guyana
MHap_Analysis
MHap_Analysis-2
docs/data/Pvivax_sequencing_data/Pvivax_Honduras
*Honduras*
*Guyana*
*AllGates*
*Gates*