.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/MHapPfalciparum_files
docs/MHapPvivax_files
docs/data/Pvivax/alignments
docs/data/Pvivax/dada2/preprocess_fq
docs/data/Pvivax/dada2/preprocess_meta.txt
docs/data/Pvivax/dada2/prim_fq
docs/data/Pvivax/dada2/prim_meta.txt
docs/data/Pvivax/dada2/run_dada2/filtered
docs/site_libs